<footer class="pie text-muted bg-light"> <!-- fixed-bottom-->
  <div class="container">
    <div class="row justify-content-around align-content-center">
      <a
        class="mx-5 btn btn-link"
        href="https://es-es.facebook.com/"
        aria-hidden="true"
        target="_blank"
      >
      <fa-icon class="fa-3x" [icon]='faFacebook'></fa-icon>
      </a>
      <a
        class="mx-5 btn btn-link"
        href="https://github.com/"
        aria-hidden="true"
        target="_blank"
      >
      <fa-icon class="fa-3x" [icon]='faGithub'></fa-icon>
      </a>
      <a
        class="mx-5 btn btn-link"
        href="https://git.institutomilitar.com/"
        aria-hidden="true"
        target="_blank"
      >
      <fa-icon class="fa-3x" [icon]='faGitlab'></fa-icon>
      </a>
      <a
        class="mx-5 btn btn-link"
        href="mailto:direcciondeemail@prueba.org?subject=Tema&cc=otroemail@pruebas.org&body=Cuerpo del mensaje"
        aria-hidden="true"
        target="_blank">
        <fa-icon class="fa-3x" [icon]='faCorreo'></fa-icon>

      </a>
    </div>
    <p class="text-center py-3 text-secondary mb-0">
      &#9400; 2021 - Dpto SIC - ACING
  </p>
    <div class="row justify-content-center my-2">
      <a target="_blank"
        class="legal"
        href="http://www.ejercito.mde.es/accesibilidad.html"
        >Accesibilidad</a
      ><span> &nbsp;|&nbsp; </span>
      <a target="_blank" class="legal" href="http://www.ejercito.mde.es/aviso-legal.html"
        >Aviso Legal</a
      ><span> &nbsp;|&nbsp; </span>
      <a target="_blank" class="legal" href="http://www.ejercito.mde.es/aviso-legal.html"
        >Cookies</a
      >
    </div>
  </div>
</footer>
