.jumbotron {
  padding: 10px;
  margin: 1px;
}

img {
  height: 75%;
  width: 75%;
  border-radius: 10px;
}

img:hover {
  transform: scaleX(-1);
}

.examen {
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
