<div class="jumbotron jumbotron-fluid">
  <div class="row justify-content-start align-items-center">
    <div class="col col-sm-2">
      <img class="" src="./assets/Angular.png" alt="Angular">
    </div>
    <div class="col col-sm-3 ">
      <h1 class="display-3 text-primary">ANGULAR</h1>
      <p class="lead">DIM XLIII</p>
    </div>
    <div class="examen col col-sm-5">
      <h3 class="display-4">{{ title | uppercase}}</h3>
      <p class="lead text-secondary">{{ autor | uppercase }}</p>
      <p class="text-secondary">{{ fecha }}</p>
    </div>
  </div>
</div>

